@import url(/Assets/Fonts/);

body {
    background-color: #000;
    font-family: "mc";
    color: #fff;
}

@font-face {
    font-family: "mc";
    src: url("Minecraft.ttf") format("truetype");
}

@font-face {
    font-family: "mc";
    src: url("Minecraft.ttf");
}

@font-face {
    font-family: "mc";
    src: url("Minecraft.ttf");
}

@font-face {
    font-family: "hp";
    src: url("HELPME.TTF");
}

@keyframes flash2 {
    0%, 100% {
        color: rgb(148, 0, 211);
    }
    50% {
        color: black;
    }
    50% {
      text-shadow: 0 0 20px rgb(148, 0, 211);
    }
  }
  

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background-color: rgb(148, 0, 211);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #9400D3;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9400D3; 
}

.archive-box {
    margin: 0 auto;
    padding: 2em 0 5em 0;
}

    .archive-box .top-wrap {
        text-align: center;
        margin-bottom: 5em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .top-wrap img {
            padding: 0!important;
            height: 125px;
            width: 125px;
            padding: .5em 1em 1em 1em;
            border-radius: 50%;
            margin: 0 auto;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .top-wrap h1 {
            margin: 0;
            font-family: 'mc';
            letter-spacing: 4px;
            margin-top: .5em;
        }

    .archive-box .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .archive-box .OwnerItem1 {
        flex: 0 15%;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        margin:  8;
        background: #121212;
        transition:  box-shadow .6s ease-out;
    }

    .archive-box .OwnerItem2 {
        flex: 0 15%;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        margin: 8;
        background: #121212;
        transition:  box-shadow .6s ease-out;

    }

        .archive-box .item {
            flex: 0 15%;
            align-items: center;
            border-radius: 10px;
            text-align: center;
            margin: 8;
            background: #121212;
            transition:  box-shadow .6s ease-out;
        }

        .archive-box .OwnerItem1:hover {
            box-shadow: 1px 8px 12px #9400D3;
            transition:  box-shadow .35s ease-in;
            
        }
        
        .archive-box .OwnerItem2:hover {
            box-shadow: 1px 8px 12px #9400D3;
            transition:  box-shadow .35s ease-in;
        }

        
        .archive-box .item:hover {
            box-shadow: 1px 8px 12px #9400D3;
            transition:  box-shadow .35s ease-in;
        }
        
        .archive-box .item:hover {
            box-shadow: 1px 8px 12px #9400D3;
            transition:  box-shadow .35s ease-in;
        }


            .archive-box .item > .content {                
                display: flex;
                flex-direction: column;
                padding: 1em;
                min-height: 175px;
                position: relative;
            }

                .archive-box .img-wrap {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                }
                
                .archive-box .img-wrap img {

                    display: flex;
                    flex-direction: column-reverse;
                    
                }


                    .archive-box a {
                        text-decoration: none;
                        font-size: 22px;
                        font-weight: bold;
                        color: #fff;
                        transition: ease-in-out .1s;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        
                    }

                    .archive-box a:hover {
                        color: #9400D3;
                        filter: drop-shadow(0 0 4px #9400D3);
                    }

                    .archive-box .img-wrap > img {
                        height: 125px;
                        width: 125px;
                        padding: .5em 1em 1em 1em;
                        border-radius: 50%;
                        margin: 0 auto;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        
                    }

                    .archive-box a#button {
                        color: #000;
                        border: none;
                        font-size: 18px;
                        margin: 0 auto;
                        border-radius: 15px;
                        padding: 6px 10px;
                        font-family: 'mc';
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        transition: .1s ease-in-out;
                        line-height: 1;
                        font-weight: 600;
                        color: rgb(148, 0, 211);
                    }
                    
                    .archive-box a#dahoodian {
                        margin: 0 auto;
                        font-family: 'mc';
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        transition: .1s ease-in-out;
                        line-height: 1;
                        font-weight: 600;
                        color: rgb(148, 0, 211);
                    }


                    .socials {
                        margin: 2em 0 1em 0;
                    }

                        .socials a {
                            width: 30px;
                        }

                        .socials a img {
                            height: 30px;
                            width: 30px;
                            transition: .1s ease-in-out;
                            margin: 0 .5em;
                        }

                        .socials a img:hover {
                            transform: scale(1.1);
                        }

#click-me {
        color: rgb(148, 0, 211);
        font-family: mc;
        text-shadow: 0 0 10px rgb(148, 0, 211), 0 0 20px rgb(148, 0, 211), 0 0 30px rgb(148, 0, 211);
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
        
}

#Ownerheader {
    color: rgb(148, 0, 211);
    font-family: mc;
    text-shadow: 0 0 10px rgb(148, 0, 211), 0 0 20px rgb(148, 0, 211), 0 0 30px rgb(148, 0, 211);
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    animation: flash2 3s infinite alternate;
}


                        
/* Media queries */

@media (max-width: 1400px) {

    .archive-box .img-wrap {
        display: flex;
        flex-direction: column;
    }

        .archive-box .img-wrap img {
            margin: 0 auto;
        }

        .archive-box .img-wrap button {
            width: 100px;
            margin: 0 auto;
        }

    .archive-box .item > .content {
        flex-direction: column;
    }

        .archive-box .item p {
            padding-right: 0px!important;
        }

    

}

@media (max-width: 1000px) {

    .archive-box .row {
        flex-direction: column;
        margin-bottom: 0;
        width: 90%;
    }

    .archive-box .item {
        margin: 0;
        margin-bottom: 2em;
        align-self: baseline;
        width: 100%;
    }

        .archive-box p {
            height: auto;
            max-height: 125px;
        }

}

* {
    cursor: url(https://ani.cursors-4u.net/symbols/sym-8/sym731.cur), auto !important;
 }
  